<!doctype html>
<html>
<head>
    <title>Internet Radio Reciever</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div>You are listening to <span class="radio_name">{{ metadata.get('radio').get('name') }}</span>
    at {{ metadata.get('radio').get('address') }}. <br/>
    Now playing <span class="name">{{ metadata.get('track').get('name') }}</span> by
    <span class="name">{{ metadata.get('artist') }}</span>
    from album <span class="name">{{ metadata.get('album').get('name') }}</span>
    {% if metadata.get('release_year') %} released in {{ metadata.get('release_year') }}{% endif %}<br/>
    <img src="{{ metadata.get('album').get('cover_url') }}"/>
</div>
<div>
    {#    {{ mpd_status.get('state') }} {{ mpd_status.get('volume') }}#}
</div>
<!--Control panel-->
<div>
    <form>
        <button formaction="/pause">Pause</button>
        <button formaction="/play">Play</button>
        <button formaction="/prev">Previous station</button>
        <button formaction="/next">Next station</button>
    </form>
</div>

<div>
    Album tags:
    {% if metadata.get('album').get('tags') %}
        {% for tag in metadata.get('album').get('tags') %}
            <a href="{{ tag.get('url') }}">{{ tag.get('name') }}</a>
        {% endfor %}
    {% endif %}

    Track tags:
    {% if metadata.get('track').get('tags') %}
        {% for tag in metadata.get('track').get('tags') %}
            <a href="{{ tag.get('url') }}">{{ tag.get('name') }}</a>
        {% endfor %}
    {% endif %}
</div>

<div>
    Wiki snippet about album:
    {{ metadata.get('album').get('wiki')|safe }}
    <br/>
    Summary:
    {{ metadata.get('album').get('wiki_summary')|safe }}
    <br/>
    Wiki snippet about track:
    {{ metadata.get('track').get('wiki')|safe }}
    <br/>
    Summary:
    {{ metadata.get('track').get('wiki_summary')|safe }}
</div>

<div>
    Album tracklist
    {% if metadata.get('album').get('tracklist') %}
    <ul>
        {% for track in metadata.get('album').get('tracklist') %}
            <li>{{ track }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div>
    Your stations
    <table>
        <!--TODO: Add new station button-->
        {% for station in stations %}
            <tr>
                <td>
                    {{ station['name'] }}
                </td>
                <td>
                    {{ station['title'] }}
                </td>
                <td>
                    {{ station['file'] }}
                </td>
                <td>
                    <form action="/switchTo" method="get">
                        <button type="submit" name="id" value="{{ station['id'] }}">Listen</button>
                    </form>
                </td>
                <td>
                    <form action="/delete" method="get">
                        <button type="submit" name="id" value="{{ station['id'] }}">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>